main{
    padding: 10px;
}

.products-container{
    display: grid;
    grid-template-columns:auto auto auto auto;
}

.buy-button{
    display: inline-block;
    text-align: center;
}

.product-img{
    transition-duration: .5s;
}

.product-img:hover{
    transform: scale(1.1);
}

.not-find-text{
    font-family: 'Century Gothic';
}

.logo{
    height: 50px;
}

.cargar-producto{
    text-align: center;   
}

.div-form{
    padding-right: 20px;
}

.boton-enviar{
    width: 80px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(0, 158, 21, 0.63);
    color: white;
    font-size: 17px;
    border: 1px solid black;
}

.boton-enviar:hover{
    background-color:rgb(0, 158, 21) ;
}

.carrito{
    font-size: 30px;
}

.boton-carrito{
    border: none;
    background: none;
}

.carrito-container{
    padding-right: 10px;
    padding-left: 10px;
}

.carta-producto{
    text-align: center;
    padding-top: 50px;
}

.imagen-card{
    height: 70%;
}

.card{
    margin-top: 20px;
}

.carrito{
    transition-duration: .5s;
}

.carrito:hover{
    transform: scale(1.1);
}
